# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# temporary files
*~
*.swp
*.bak
*.tmp
*.log

# Tailwind CSS
.cache/
postcss-debug.log

# eslint
.eslintcache/

# Visual Studio
.vscode/*
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# IntelliJ IDEA / WebStorm
.idea/
*.iws
*.iml
*.ipr

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Sublime Text
.sublime-*

# Atom
.atom/

# Brackets
.brackets/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/

# Xcode
.DS_Store
xcuserdata/